<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid Layout demo</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

 <!--    <div class="navbar-minimalist">
      <img src="images/logo.png">
    </div> -->
    <div class= "container text-center">
<div class="grid">

      <div class="usercard one">
        <div class="usercard-content">
          <img src="images/Neringa.jpg" alt="" width="150" class="img-circle">
          <h2>Neringa Daniulaityte</h2>
          <p>Student at Le Wagon</p>
          <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
        </div>
      </div>



        <div class="usercard two">
          <div class="usercard-content">
            <h3>300</h3>
            <p>contributions</p>
          </div>
        </div>

        <div class="usercard three">
          <div class="usercard-content">
            <h3>758</h3>
            <p>followers</p>
          </div>
        </div>


        <div class="usercard four">
          <div class="usercard-content">
            <h3>119</h3>
            <p>repositories</p>
          </div>
        </div>

      <div class="usercard five">
        <div class="usercard-content">
          <h3>More about Neringa</h3>
          <p class="text-justify">
           A"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
          </p>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
